In [1]:
from bokeh.plotting import figure, show
from bokeh.embed import components
from bokeh.models import ColumnDataSource, FactorRange
from bokeh.transform import  factor_cmap
import pandas as pd
from pathlib import Path

In [2]:
data_path = Path("../../../Resources/RileyAnalysis/emdat_population.json")

disaster_population_df = pd.read_json(data_path)

In [3]:
disaster_population_df.head()

,Disaster #,Subgroup,Type,Subtype,Country,ISO,Region,Geolocation,Magnitude,Lat,...,Year,Month,Deaths,Injuries,Total Affected,Insured Damage (Adjusted),Total Damage (Adjusted),population,density,area
0,1999-9388,Climatological,Drought,Drought,Djibouti,DJI,Africa,Kibungo,NaN,-2.135743,...,2001,6.0,NaN,NaN,100000.0,NaN,NaN,958920,41.368421,23200
1,1999-9388,Climatological,Drought,Drought,Djibouti,DJI,Africa,Rugombo,NaN,-2.821939,...,2001,6.0,NaN,NaN,100000.0,NaN,NaN,958920,41.368421,23200
2,1999-9388,Climatological,Drought,Drought,Djibouti,DJI,Africa,Rumonge,NaN,-3.962206,...,2001,6.0,NaN,NaN,100000.0,NaN,NaN,958920,41.368421,23200
3,1999-9388,Climatological,Drought,Drought,Djibouti,DJI,Africa,Buganda,NaN,-2.990570,...,2001,6.0,NaN,NaN,100000.0,NaN,NaN,958920,41.368421,23200
4,1999-9388,Climatological,Drought,Drought,Djibouti,DJI,Africa,Gihanga,NaN,-3.197334,...,2001,6.0,NaN,NaN,100000.0,NaN,NaN,958920,41.368421,23200

In [4]:
#number of unique disaster id's in the dataset
disaster_population_df['Disaster #'].nunique()

5087

In [9]:
country_df = disaster_population_df[['Country', 'Type', 'Disaster #']].groupby(['Country', 'Type']).count()

print(country_df.shape)
country_df.head(10)

(648, 1)

                                 Disaster #
Country     Type
Afghanistan Drought                      54
            Earthquake                   94
            Extreme temperature          29
            Flood                       233
            Mass movement (wet)          29
            Storm                        29
Albania     Earthquake                    1
            Extreme temperature         262
            Flood                       146
            Storm                        54

In [ ]:
#for each (disaster type for each?) country in my countries of interest (can choose to limit) we want to see how the following metrics compare:

#number of disaster occurneces per population

#number of disaster occurences per population density

#number of disaster occurneces per surface area

In [18]:
alt_country_df = disaster_population_df[['Country', 'Disaster #']].groupby(['Country'], as_index=False).count()

alt_country_df.columns = ['Country', 'disaster_count']

print(alt_country_df.shape)
alt_country_df.head(10)

(192, 2)

               Country  disaster_count
0          Afghanistan             468
1              Albania             463
2              Algeria             206
3       American Samoa              18
4               Angola             232
5             Anguilla              90
6  Antigua and Barbuda              95
7            Argentina             441
8              Armenia              40
9            Australia             354

In [ ]:
sorted_alt_country_df = alt_country_df.sort_values(by='')